go 1.26.4

use (

	./apps/consistent_cache
	./apps/consistent_hash
	./apps/golsm
	./apps/gotcc
	./apps/my-raft
	./apps/redis_lock
	./apps/redmq
	./apps/timewheel
	./apps/xtimer
	./swifty_cache
	./swifty_http
	./swifty_orm
	./swifty_rpc
)
