<div
  class="flex h-full w-16 flex-col items-center border-r border-green-100 bg-green-100/60 py-4"
>
  <div class="mb-6">
    {{if avatar}}
    <div class="avatar">
      <div class="w-10 rounded-full ring ring-green-200 ring-offset-1">
        <img src="{{=avatar}}" />
      </div>
    </div>
    {{/if}}
  </div>

  <div class="flex flex-1 flex-col gap-3">
    <div class="tooltip tooltip-right" data-tip="Sessions">
      <button
        class="btn btn-ghost btn-sm btn-square text-green-700 hover:bg-green-200/50"
        @click="goSessions()"
      >
        <span class="h-5 w-5 [&>svg]:h-full [&>svg]:w-full"
          >{{!icons.messageSquare}}</span
        >
      </button>
    </div>
    <div class="tooltip tooltip-right" data-tip="Contacts">
      <button
        class="btn btn-ghost btn-sm btn-square text-green-700 hover:bg-green-200/50"
        @click="goContacts()"
      >
        <span class="h-5 w-5 [&>svg]:h-full [&>svg]:w-full"
          >{{!icons.users}}</span
        >
      </button>
    </div>
    <div class="tooltip tooltip-right" data-tip="Profile">
      <button
        class="btn btn-ghost btn-sm btn-square text-green-700 hover:bg-green-200/50"
        @click="goProfile()"
      >
        <span class="h-5 w-5 [&>svg]:h-full [&>svg]:w-full"
          >{{!icons.user}}</span
        >
      </button>
    </div>
  </div>

  <div class="flex flex-col gap-2">
    {{if isAdmin}}
    <div class="tooltip tooltip-right" data-tip="Admin">
      <button
        class="btn btn-ghost btn-sm btn-square text-green-700 hover:bg-green-200/50"
        @click="goManager()"
      >
        <span class="h-5 w-5 [&>svg]:h-full [&>svg]:w-full"
          >{{!icons.settings}}</span
        >
      </button>
    </div>
    {{/if}}
    <div class="tooltip tooltip-right" data-tip="Sign Out">
      <button
        class="btn btn-ghost btn-sm btn-square text-red-400 hover:bg-red-50"
        @click="logout()"
      >
        <span class="h-5 w-5 [&>svg]:h-full [&>svg]:w-full"
          >{{!icons.logOut}}</span
        >
      </button>
    </div>
  </div>
</div>
